venv*/
*/venv*/
*/venv_*/
venv_labo3/
.env/
.venv/
venv_labo4/
venv_labo2/
venv_labo3/
venv_labo/
test/
tests/
**/test/
**/tests/
*.coverage
**/lib
**/out/
**/evidencias/
**/python3
**/coverage.txt
**/__pycache__/
