venv*/
*/venv*/
*/venv_*/
venv_labo3/
.env/
.venv/
venv_labo4/
venv_labo2/
venv_labo3/
venv_labo/
*.coverage
**/lib
**/out/
**/python3
**/coverage.txt
**/__pycache__/
labs/Laboratorio11/minikube-linux-amd64
proyectos/telnet-server/minikube-linux-amd64
Github-actions-devops/kubectl
