airflow/logs/scheduler/2025-12-11/etl_dag.py.log
airflow/logs/scheduler/2025-12-11/etl_dag.py.log
airflow/logs/dag_processor_manager/
 ../labs/Laboratorio9/airflow/logs/scheduler/2025-10-31/etl_dag.py.log